- form_for @channel, :url => channel_path, :method => "put" do |f|
  = f.label "Channel Name"
  %br
  = f.text_field :name
  %br
  %br
  = f.submit "Update"
  
= link_to 'X', channel_path(@account, channel), :confirm => "This will delete this channel, are you sure?", :method => :delete
  