:javascript
  $(document).ready(function(){
    // if they click cancel, close the facebox
    $('#cancel').click(function(){$.facebox.close()});

    $("#create").click(function(){
      $('#new_channel').validate();
      // If it is valid, submit
      if( $('#new_channel').valid() )
        $("#new_channel").submit();
    });
  });

- form_for @channel do |f|
  %header
    %h1 Create a new Channel
  %article
    %p
      %label Name
      = f.text_field :name, :class => 'required title'
%footer
  #submit
    %button{:class => 'button', :id => 'cancel'} Cancel
    %button{:class => 'button', :id => 'create'} Create Channel
  %hr.space