:javascript
  var is_sem = false;
  $(document).ready(function(){
    // if they click cancel, close the facebox
    $('#cancel').click(function(){$.facebox.close(); return false;});

    $('#channel_type').change(function(){
      var t = $('#channel_type').val();
      if(t=='sem' && !is_sem) {
        $('#sem_items').show('blind', 250);
        $("#sem_items input").addClass('required');
        is_sem = true;
      } else {
        if(is_sem) {
          $('#sem_items').hide('blind', 250);
          $("#sem_items input").removeClass('required').val('');
          is_sem = false;
        }
      }
    });

    $("#budget_start_date").datepicker({dateFormat: 'yy-mm-dd'});
    $("#rake_start_date").datepicker({dateFormat: 'yy-mm-dd'});

    $("#create").click(function(){
      $('#new_channel').validate();
      // If it is valid, submit
      if( $('#new_channel').valid() )
        $("#new_channel").submit();
      return false;
    });
  });

- form_for @channel do |f|
  %header
    %h1 Create a new Channel
  %article
    %p
      %label Name
      = f.text_field :name, :class => 'required title'
      %br
      %label Cycle Start Day
      %br
      %select{:id => "channel_cycle_start_day", :name => "channel[cycle_start_day]", :class => "required"}
        - (1..28).each do |i|
          %option{:value => i}=i
      %br
      %label Type
      %br
      %select{:id => 'channel_type', :name => 'channel[channel_type]', :class => 'required'}
        %option{:value => ''} - Choose a Type -
        %option{:value => 'seo'} SEO Channel
        %option{:value => 'sem'} SEM Channel
        %option{:value => 'basic'} Basic Channel

      %div{:id => 'sem_items', :style => 'display:none;'}
        %label Budget Amount
        %input.title{:id => "budget_amount", :name => "budget[amount]", :class => "text"}
        %br
        %label Budget Start Date
        %input.title{:id => "budget_start_date", :type => 'text', :name => "budget[start_date]", :class => "text"}
        %br
        %label Rake Percentage
        %input.title{:id => "rake_percentage", :name => "rake[percentage]", :class => "text"}
        %br
        %label Rake Start Date
        %input.title{:id => "rake_start_date", :type => 'text', :name => "rake[start_date]", :class => "text"}
        %br
%footer
  #submit
    = link_to "Cancel", "#", :class => "cancel", :id => 'cancel'
    %span.green-btn
      %a{:href => "#", :class => 'button', :id => 'create'} Submit
  %hr.space