%header
  %h1 Reset Password
%article
  %p.quiet Let us know what your email is so we can send you directions for resetting your password
  - form_tag password_resets_path do
    %label Email
    %br
    = text_field_tag "email", :class => "title"
    %br
    = submit_tag "Reset Password", :class => "button"