%h1 
  Summary for #{@account.name}
%p
  Last 24 hours... (eventually, a date picker goes here)

%table{:class => "pretty"}
  %thead
    %tr
      %th
        Campaign Name
      %th
        Calls
      %th
        Forms
      %th
        Total Leads
      %th
        Spend
      %th
        Cost Per Lead
      %th
  %tbody
    -@account.campaigns.each do |campaign|
      %tr{ :class => cycle('odd', 'even')}
        %td
          = campaign.name
        %td
        %td
        %td
        %td
        %td
        %td
          = link_to "Details", ""