$(document).ready(function(){
  // save all of the fields
  $("#submit_changes").click(function(){
    $.ajax({
      type: 'PUT',
      url: '<%= account_path(@account) %>',
      data: $('form[id*="edit_account"]').serialize(),
      success: success_message(),
      error: fail_message()
    });
  });
  $('select[id*="manager"]').change(function(){
    var id                 = $(this).attr('id').split('_');
    var account_path       = '<%= account_path(@account) %>';
    if($(this).attr('value') == '0')
      return;
    switch(id[0]) {
      case "account":
        $.ajax({
          type: 'PUT',
          url:  account_path,
          data: {
            account_manager: $(this).attr('value'),
          },
          success: success_message(),
          error: fail_message()
        });
        break;
      case "seo":
        $.ajax({
          type: 'PUT',
          url:  account_path,
          data: {
            channel: {
              channel_id: $(this).attr('value'),
              manager_id: id[2]
            }
          },
          success: success_message(),
          error: fail_message()
        });
        break;
      case "sem":
        $.ajax({
          type: 'PUT',
          url:  account_path,
          data: {
            channel: {
              channel_id: $(this).attr('value'),
              manager_id: id[2]
            }
          },
          success: success_message(),
          error: fail_message()
        });
        break;
      default:
        return;
    }
  });
  $("#msg").click(function(){
    $(this).hide('blind', 250);
  })
});
function success_message() {
  $("#msg").empty().hide();
  $("#msg").html('<span class="success-box">Save was successful!</span>');
  $("#msg").removeClass().addClass('success_box').show();
}
function fail_message() {
  $("#msg").empty().hide();
  $("#msg").html('<span class="error-box">We could not make the save requested</span>');
  $("#msg").removeClass().addClass('error_box').show();
}
