%h1 CityVoice SEM Report
%p Hey CUSTOMER NAME,
%p I'm CAMPAIGN MANAGER NAME, your Campaign Manager at CityVoice. We are implementing a new process in which I will be sending you an update with information about your campaign bi-weekly.
%hr
%h2 Summary

%h3 Budget
%h4 Monthly Budget - $1,200
%h4 Spent to date - $600
%h4 % Spent - 50%
%h4 Remaining - $600

%h3 Conversions
%h4 Impressions - 24,000
%h4 Clicks - 230
%h4 Total Calls - 40
%h4 Form Submissions - 2
%h4 Conversion Rate - .2%

%h3 Adwords Stats
%h4 CTR - 4.2%
%h4 CPC - $24.50
%h4 Average Position - 1.2

-#
  %hr
  %h2 Campaigns
  %p Coming soon...