<html>
<head>
	
	<title>CityVoice - Monthly Report</title>
	<%= "Number of all calls: #{@account_report_data[0]}, Number of lead calls: #{@account_report_data[1]}, Number of all submissions: #{@account_report_data[2]}, Number of lead submissions: #{@account_report_data[3]}." %>
	
	<meta content="text/html; charset=iso-8859-1" http-equiv="Content-Type" />
	<style type="text/css">
	.list a {color: #cc0000; text-transform: uppercase; font-family: Verdana; font-size: 11px; text-decoration: none;}

	</style>
	
	
</head>
<body marginheight="0" topmargin="0" marginwidth="0" bgcolor="#c5c5c5" leftmargin="0">

<table cellspacing="0" border="0" style="background-image: url(./images/bg.gif); background-color: #c5c5c5;" cellpadding="0" width="100%">
	
	<tr>
		
		<td valign="top">

			<table cellspacing="0" border="0" align="center" style="background: #fff; border-right: 1px solid #ccc; border-left: 1px solid #ccc;" cellpadding="0" width="600">
				<tr>
					<td valign="top">
						<!-- header -->
						<table cellspacing="0" border="0" height="157" cellpadding="0" width="600">
							<tr>
								<td class="main-title" height="13" valign="top" style="padding: 0 20px; font-size: 25px; font-family: Georgia; font-style: italic;" width="600" colspan="2">
									CityVoice - Monthly Report
								</td>
							</tr>
							<tr>
								<td height="20" valign="top" width="600" colspan="2">
									<img src="./images/breaker.jpg" height="20" alt="" style="border: 0;" width="600" />
								</td>
							</tr>
							<tr>
								<td class="header-bar" valign="top" style="color: #999; font-family: Verdana; font-size: 10px; text-transform: uppercase; padding: 0 20px; height: 15px;" width="400" height="15">
									newsletter update
								</td>
								<td class="header-bar" valign="top" style="color: #999; font-family: Verdana; font-size: 10px; text-transform: uppercase; padding: 0 20px; height: 15px; text-align: right;" width="200">
									<$currentdayname$> <$currentday$> <$currentmonthname$> <$currentyear$>
								</td>
								<tr>
									<td height="20" valign="top" width="600" colspan="2">
										<img src="./images/breaker.jpg" height="20" alt="" style="border: 0;" width="600" />
									</td>
								</tr>
							</tr>
						</table>
						<!-- / header -->
					</td>
				</tr>
				<tr>
					<td>
						<!-- content -->
						<table cellspacing="0" border="0" height="870" cellpadding="0" width="600">
							<tr>
								<td class="article-title" height="45" valign="top" style="padding: 0 20px; font-family: Georgia; font-size: 20px; font-weight: bold;" width="600" colspan="2">
									The first article title
								</td>
							</tr>
							<tr>
								<td class="content-copy" valign="top" style="padding: 0 20px; color: #000; font-size: 14px; font-family: Georgia; line-height: 20px;" colspan="2">
									Suspendisse imperdiet ullamcorper est at interdum. Suspendisse at felis nunc. Integer eu felis lacus, 
									id blandit augue. <a href="./" style="color: #cc0000; text-decoration: none;">Mauris commodo hendrerit risus</a>, quis vehicula mi adipiscing in. Integer nec pretium 
									odio. Sed ligula enim, scelerisque ut tempor lacinia, iaculis eget erat. Mauris commodo hendrerit risus, 
									quis vehicula mi adipiscing in. Integer nec <a href="./" style="color: #cc0000; text-decoration: none;">pretium</a> odio. Sed ligula enim, scelerisque ut tempor lacinia, 
									iaculis eget erat. Mauris commodo hendrerit risus, quis vehicula mi adipiscing in. Integer nec pretium. 
								</td>
							</tr>
									</table>
								</td>

							</tr>

						</table>
						<!--  / content -->
					</td>
				</tr>
				<tr>
					<td valign="top" width="600">
						<!-- footer -->
						<table cellspacing="0" border="0" height="202" cellpadding="0" width="600">
							<tr>
								<td height="20" valign="top" width="600" colspan="2">
									<img src="./images/breaker.jpg" height="20" alt="" style="border: 0;" width="600" />
								</td>
							</tr>
							<tr>
								<td valign="top">
									<table cellspacing="0" border="0" width="600" cellpadding="0">
										<tr>
											<td class="unsubscribe" valign="top" style="padding: 20px; color: #999; font-size: 14px; font-family: Georgia; line-height: 20px;" width="305">
												You received this email because you are a CityVoice customer. If you'd like, you can 
												<unsubscribe style="color: #cc0000; text-decoration: none;">unsubscribe</unsubscribe>.
											</td>
											<td valign="top" width="255">
												<table cellspacing="0" width="255" cellpadding="0">
													<tr>
														<td valign="top">
															<!--button-->
															<table cellspacing="0" border="0" cellpadding="10" width="210">
															<tr>
																<td><br /></td>
															</tr>
															<tr>
																<td height="35" bgcolor="#a60000" style="border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px; font-size: 10px; font-family: Verdana, 'Times New Roman', Times, serif; color: #333; margin: 0; padding: 0; text-align: center;"><forwardtoafriend style="text-decoration: none; color: #fff;">SHARE THIS EMAIL</forwardtoafriend></td>
															</tr>
															</table><!--/button-->
														</td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td valign="top" colspan="2">
									<img src="./images/breaker.jpg" height="20" alt="" style="border: 0;" width="600" />
								</td>
							</tr>
							<tr>
								<td class="copyright" height="100" align="center" valign="top" style="padding: 0 20px; color: #999; font-family: Verdana; font-size: 10px; text-transform: uppercase; line-height: 20px;" width="600" colspan="2">
									Copyright 2010 CityVoice. All Rights Reserved. <br />
									CityVoice - 84 Northeast Loop 410, Suite 325, San Antonio, Texas 78216. Ph (800) 685-7502
								</td>
							</tr>
						</table>
						<!-- / end footer -->
					</td>
				</tr>
			</table>
			
		</td>
	
	</tr>
	
</table>

</body>
</html>