.section#first-section
  -if params[:search]
    /Do nothing
  -else
    .left#timeline_chart
      %h3 Overall Performance
      = render :partial => "shared/timeline"
    .right
      = render :partial => "shared/news_results"
  .clear