%h1 Dummy Page
%h2 Fixing them HTMLz and CSSz
%hr
%section
	%article.single
		%h3 Single
		%p Dummy Text
	%article.single
		%h3 Single
		%p Dummy Text
	%article.single
		%h3 Single
		%p Dummy Text
	%article.single
		%h3 Single
		%p Dummy Text
%section
	%article.double
		%h3 Double
		%p Dummy Text
	%article.double
		%h3 Double
		%p Dummy Text