/*	Facebox
	------	*/
#facebox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: left;
}
#facebox .content {
  display:table;
  width: 370px;
  background: #fff;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
}
#facebox .content > p:first-child{
  margin-top:0;
}
#facebox .content > p:last-child{
  margin-bottom:0;
}
#facebox .close{
  display:none;
}
#facebox .close img{
  opacity:0.3;
}
#facebox .close:hover img{
  opacity:1.0;
}

#facebox .loading {
  text-align: center;
}

#facebox .image {
  text-align: center;
}
#facebox img {
  border: 0;
  margin: 0;
}
#facebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
}
.facebox_hide {
  z-index:-100;
}
.facebox_overlayBG {
  background-color: #000;
  z-index: 99;
}

#facebox header{
	background:-webkit-gradient(linear,0% 100%,0% 0%,from(rgba(177,186,195,1)),to(rgba(239,240,244,1)));
	background:-moz-linear-gradient(bottom,rgba(27,43,62,1),rgba(42,71,106,1));
	-webkit-border-radius: 4px 4px 0 0;
	   -moz-border-radius: 4px 4px 0 0;
	        border-radius: 4px 4px 0 0;
}

#facebox footer{
	background:-webkit-gradient(linear,0% 100%,0% 0%,from(rgba(27,43,62,1)),to(rgba(42,71,106,1)));
	background:-moz-linear-gradient(bottom,rgba(27,43,62,1),rgba(42,71,106,1));
	-webkit-border-radius: 0 0 4px 4px;
	   -moz-border-radius: 0 0 4px 4px;
	        border-radius: 0 0 4px 4px;
}

#facebox header, #facebox article, #facebox footer{
	padding:12px;
}

#facebox header h1{
	font-size:18px;
	margin-bottom:0;
}

#facebox footer .button{
	margin:0;
	font-size:.9em;
}

#facebox footer #submit{
	float:right;
}

#facebox .cancel{
	color: #fff;
	margin-right:12px;
}

#facebox footer hr{
	margin-bottom:0;
}

/* TipTip CSS - Version 1.2 */

#tiptip_holder {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999;
}

#tiptip_holder.tip_top {
	padding-bottom: 5px;
}

#tiptip_holder.tip_bottom {
	padding-top: 5px;
}

#tiptip_holder.tip_right {
	padding-left: 5px;
}

#tiptip_holder.tip_left {
	padding-right: 5px;
}

#tiptip_content {
	font-size: 11px;
	color: #fff;
	text-shadow: 0 0 2px #000;
	padding: 4px 8px;
	border: 1px solid rgba(255,255,255,0.25);
	background-color: rgb(25,25,25);
	background-color: rgba(25,25,25,0.92);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(#000));
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 0 0 3px #555;
	-webkit-box-shadow: 0 0 3px #555;
	-moz-box-shadow: 0 0 3px #555;
}

#tiptip_arrow, #tiptip_arrow_inner {
	position: absolute;
	border-color: transparent;
	border-style: solid;
	border-width: 6px;
	height: 0;
	width: 0;
}

#tiptip_holder.tip_top #tiptip_arrow {
	border-top-color: #fff;
	border-top-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_bottom #tiptip_arrow {
	border-bottom-color: #fff;
	border-bottom-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_right #tiptip_arrow {
	border-right-color: #fff;
	border-right-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_left #tiptip_arrow {
	border-left-color: #fff;
	border-left-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_top #tiptip_arrow_inner {
	margin-top: -7px;
	margin-left: -6px;
	border-top-color: rgb(25,25,25);
	border-top-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_bottom #tiptip_arrow_inner {
	margin-top: -5px;
	margin-left: -6px;
	border-bottom-color: rgb(25,25,25);
	border-bottom-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_right #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -5px;
	border-right-color: rgb(25,25,25);
	border-right-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_left #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -7px;
	border-left-color: rgb(25,25,25);
	border-left-color: rgba(25,25,25,0.92);
}

/* Webkit Hacks  */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	#tiptip_content {
		padding: 4px 8px 5px 8px;
		background-color: rgba(45,45,45,0.88);
	}
	#tiptip_holder.tip_bottom #tiptip_arrow_inner {
		border-bottom-color: rgba(45,45,45,0.88);
	}
	#tiptip_holder.tip_top #tiptip_arrow_inner {
		border-top-color: rgba(20,20,20,0.92);
	}
}

/*
	Layout / Backgrounds
	------------------
*/
html{
	overflow-y: scroll;
}

body{
	background: #E6E1E1 url("/images/matte.png") repeat fixed;
	-webkit-font-smoothing: antialiased;
}

#content{
	background-color:#fff;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}

#yield{
	min-height:400px;
	padding:12px 24px;
}

a{text-decoration:none; color:#0047B3; font-weight:bold;}
a:hover{text-decoration:underline; color:#0047B3;}

.left{float:left !important;}
.right{float:right !important;}

.strong{font-weight: bold;}
.center{text-align:center;}

#login{
	float:right;
	margin:12px;
}
/*
	Toolbar
	------------------
*/

#toolbar{
	background: #5D504F;
	margin-bottom:12px;
	-webkit-border-radius: 0 0 4px 4px;
	   -moz-border-radius: 0 0 4px 4px;
	        border-radius: 0 0 4px 4px;
}

#toolbar ul{
	float:right;
}

#toolbar li, header li{
	float:left;
	margin-left:12px;
}

#toolbar li a{
	color:#fff;
	line-height:36px;
}

#toolbar ul, #toolbar img{
	padding:6px 12px;
}

header ul{
	margin:0;
}

#logo{
	font-weight:bold;
	margin:12px;
	font-size:24px;
	line-height:48px;
	color:#fff;
}

/*
	Navigation
	------------------
*/
nav ul{
	margin:0;
	margin-top:12px;
	padding-left:0;
}
#navigation li{
	padding:6px 0;
}

#navigation li.active{
	background:#95A3B2;
	background:-webkit-gradient(linear,0% 100%,0% 0%,from(rgba(27,43,62,.6)),to(rgba(42,71,106,.6)));
	background:-moz-linear-gradient(bottom,rgba(27,43,62,.6),rgba(42,71,106,.6));
	-webkit-border-radius: 4px 0 0 4px;
	   -moz-border-radius: 4px 0 0 4px;
	        border-radius: 4px 0 0 4px;
}

.triangle{
	float:right;
	border-color:white;
	border-width:10px;
	border-style:solid;
	border-color: transparent;
}

#navigation li.active .triangle{
	border-color: transparent white transparent transparent;
}

#navigation li.active a{
	color:#fff;
	font-weight:bold;
}

#navigation li a{
	text-decoration:none;
	color:#40474D;
	font-weight:bold;
	font-size:14px;
	line-height:16px;
	text-shadow:0 1px 0 rgba(0, 0, 0, 0.2);
}

#navigation li img{
	float:left;
	margin:0 12px;
	width:24px;
}

#navigation .iconic{
	font-size:18px;
	width:24px;
	margin-left:12px;
}

ul{
	list-style-type:none;
}

#navigation.span-4{
	margin-right:0;
	width:160px;
}

hr{
	background:#C7CCD1;
}

/*
	Footer
	------------------
*/

#content{
	margin-bottom:12px;
}

footer{
	padding:0 12px;
}

footer.app{
	margin-left:178px;
}

footer, footer a{
	font-size:12px !important;
	color:#444;
}

footer a{
	font-weight: bold;
}

/*
	Typography
	------------------
*/
body{
font-family: "Lucida Grande", "Helvetica Nueue", helvetica, sans-serif;
}

article h3{
	text-decoration:underline;
	font-weight:bold;
}

/*
	Yield Header
	------------------
*/

header h1{
	margin:0;
	font-size:24px;
	font-weight:bold;
}

header h2{
	font-size:16px;
	font-weight:normal;
	margin:0;
}

#yield header{
	border-bottom:1px solid #C7CCD1;
	margin-bottom:6px;
	padding-bottom:6px;
}

.subheader{
	font-weight:bold;
	font-size:12px;
	text-transform: uppercase;
	letter-spacing:2px;
}

/*
	Footer
	------------------
*/

.menu{
	float:right;
	font-size:36px;
}

.menu a{
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

/* Index */

.pitch{
	text-align:center;
}

#yield header.pitch{
	border-bottom:none;
}

.pitch ul{
	font-style: italic;
	color:#C33;
	width:50%;
	font-size:18px;
	padding-top:36px;
}

.pitch li{
	float:none;
	margin-bottom:6px;
}

.pitch h1{
	line-height:1;
	letter-spacing:-2px;
	font-weight:bold;
	font-size:42px;
	margin-bottom:4px;
}

.pitch h2{
	font-size:22px;
	font-weight:normal;
}

#register{
	float:right;
	width:50%;
}

#register p{
	font-size:22px;
}

#register .button{
	font-size:24px;
}

.specific{
	width:66%;
}

.specific h1{
	font-size:24px;
}

.specific h2{
	font-size:16px;
}

.sales{
	width:33%;
	float:right;
}

.sale h3{
	font-size:14px;
	text-decoration:none;
}
.sale span{
	float:left;
	margin-right:6px;
	font-size:24px;
}
/*
	Date Picker
	------------------
*/
#daterangepicker{
	width:300px;
	font-size:14px;
}

.expand{
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
	border: 2px solid rgba(255,255,255,.6);
	background: url("/images/linen.jpg");
	padding:12px 24px;
	margin:0;
}

.expand, .expand h3{
	color:#fff;
	line-height:24px;
}

/*
	Flash Messages
	------------------
*/
#flash_notice, #flash_error, .flash_notice, .flash_error {padding:0.8em;margin:1em 0;border:2px solid #ddd;}
#flash_error,  .flash_error {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}
#flash_notice, .flash_notice {background:#e6efc2;color:#264409;border-color:#c6d880;}
#flash_error,  .flash_error a{color:#8a1f11;}
#flash_notice, .flash_notice a{color:#264409;}

/*
	Tables
	------------------
*/
thead a{
	color:#fff;
}

thead th {
	background:#515860;
	color:#fff;
}
tbody tr:nth-child(even), tbody tr.even {background:#efefef;}

tbody tr.active { background:rgba(27,43,62,.6); color:#fff; }

tbody{
	color:#444;
}


th:first-child{
	-webkit-border-radius: 4px 0 0 4px;
	   -moz-border-radius: 4px 0 0 4px;
	        border-radius: 4px 0 0 4px;
}

th:last-child{
	-webkit-border-radius: 0 4px 4px 0;
	   -moz-border-radius: 0 4px 4px 0;
	        border-radius: 0 4px 4px 0;
}

td .iconic{
	font-size:24px;
	margin-left:12px;
}

th .iconic{
	float:right;
	font-size:18px;
	line-height:18px;
}

th .iconic{
	float:right;
	font-size:18px;
	line-height:18px;
}

td .iconic.x{
	font-size:18px;
	float:right;
}

/*
	Stats
	------------------
*/
.stats aside{
	width: 33.3%;
	float:left;
}
/*
	Buttons
	------------------
*/

a.button, .button{
	display: inline-block;
	padding: 7px 9px;
	text-shadow: 1px 1px 0 #FFFFFF;
	background: #ECECEC url('/images/buttons.png') 0 0 no-repeat;
	white-space: nowrap;
	overflow: visible;
	cursor: pointer;
	text-decoration: none;
	border: 1px solid #CACACA;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
	padding-box;
	border-radius: 2px;
	outline: none;
	position: relative;
	zoom: 1;
	*display: inline;
}
a.button, .button, .button a{
	color: #3C3C3D;
	font-size: 12px;
	line-height:1;
}
.button.primary, a.button.primary { font-weight: bold }
.button:hover,a.button:hover{  border-color: #388AD4; background-position: 0 -40px; background-color: #2D7DC5; }
.button:hover,a.button:hover, .button:hover a {
	color: #FFFFFF;
	text-decoration: none;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
}
.button:active,
a.button.active { background-position: 0 -81px; border-color: #347BBA; background-color: #0F5EA2; }
a.button.active, .button.active, .button.active a{
	color: #FFFFFF; text-shadow: none;
}
a.button:active { top: 1px }
a.button.negative:hover { color: #FFFFFF; background-position: 0 -121px; background-color: #D84743; border-color: #911D1B; }
a.button.negative:active,
a.button.negative.active { background-position: 0 -161px; background-color: #A5211E; border-color: #911D1B; }
a.button.pill { -webkit-border-radius: 19px; -moz-border-radius: 19px; border-radius: 19px; padding: 6px 12px; }
a.button.left { -webkit-border-bottom-right-radius: 0px; -webkit-border-top-right-radius: 0px; -moz-border-radius-bottomright: 0px; -moz-border-radius-topright: 0px; border-bottom-right-radius: 0px; border-top-right-radius: 0px; margin-right: 0px; }
a.button.middle { margin-right: 0px; margin-left: 0px; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; border-left: none; }
a.button.right { -webkit-border-bottom-left-radius: 0px; -webkit-border-top-left-radius: 0px; -moz-border-radius-bottomleft: 0px; -moz-border-radius-topleft: 0px; border-top-left-radius: 0px; border-bottom-left-radius: 0px; margin-left: 0px; border-left: none;}
a.button.left:active,
a.button.middle:active,
a.button.right:active { top: 0px }
a.button.big { font-size: 16px; padding: 7px 16px; }

/*-------------------------------------------------------------- */
/* Forms */
label       { font-weight: bold;}
fieldset    { padding:1.4em; margin: 0 0 1.5em 0; border: 1px solid #ccc; }
legend      { font-weight: bold; font-size:1.2em; }


/* Fields */
input[type=text], input[type=password],
input.text, input.title,
textarea, select {
  background-color:#fff;
  border:1px solid #bbb;
}
input[type=text]:focus, input[type=password]:focus,
input.text:focus, input.title:focus,
textarea:focus, select:focus {
  border-color:#666;
}

input[type=text], input[type=password],
input.text, input.title,
textarea, select {
  margin:0 0 15px 0;
}

input.text,
input.title   { width: 300px; padding:5px; }
input.title   { font-size:1.5em; }
textarea      { width: 390px; height: 250px; padding:5px; }

input[type=checkbox], input[type=radio],
input.checkbox, input.radio {
  position:relative; top:0;
}

form.inline { line-height:3; }
form.inline p { margin-bottom:0; }

/*
	PDF Generation Styling
*/
@media print {
  body {
    background-color: #FFF;
  }

  #container {
    width: auto;
    margin: 0;
    padding: 0;
    border: none;
  }

  #line_items {
    page-break-before: always;
  }

  #pdf_link {
    display: none;
  }
}

/*
	Activities
	------------------
*/

.wrong, .hangup, .cancel, .duplicate, .voicemail, .noanswer, .congestion, .busy, .unanswered, .after, .spam, .hangup {
	color:red;
}

.answer{
	color:green;
}

textarea#description { width: 92%; height: 100px; }

/*
	Dashboard
	------------------
*/

.stats{
	text-align:center;
	line-height:1;
}

.stats p{
	color:#606060;
	text-transform: uppercase;
	margin:0;
}

.stats h3{
	margin:6px;
	font-weight:bold;
}

/*
	Side Panel
	------------------
*/
.main{
	width:70%;
}
.panel{
	background:#efefef;
	width:30%;
	margin-right:0;
	overflow:hidden;
}

/*
	Channels
	------------------
*/
.edit{
	float:right;
}

.channels .name{
	width:60%;
}

.channels .leads{
	width:0%;
}

.channels .cpl{
	width:20%;
}

/*
	Blank Slate
	------------------
*/

article.blank{
	width:75%;
	margin: 24px auto
}

.blank h1{
	font-size:24px;
}

.blank h2{
	font-size:18px;
}

/*
	Forms
	------------------
*/

.forms textarea{
	width:310px;
}

/* Menu Bar */
.menu a:hover{
	text-decoration:none;
	text-shadow:0 0 3px #66C6EF;
}

/*
	Pagination
	------------------
*/
.pagination {
  text-align: center;}
  .pagination a, .pagination span{
    padding: .2em .3em; }
  .pagination span.disabled {
    color: #9E9E9E; }
  .pagination .current {
    font-weight: bold;
    background-color:#9E9E9E;
-webkit-border-radius: 75px;
   -moz-border-radius: 75px;
        border-radius: 75px;
	}
  .pagination a {
    text-decoration: none;
    color: black; }
    .pagination a:hover, .pagination a:focus {
      text-decoration: underline; }