/*
	Layout / Backgrounds
	------------------
*/
body{
	background-image: url("/images/grid_background.png");
	-webkit-font-smoothing: antialiased;
}

.error header, .error article{
	text-align:center;
}

#logo img{
	-o-transition-duration: .33s;
	-o-transition-property: opacity;
	-webkit-transition-duration: .33s;
	-webkit-transition-property: opacity;
}

#logo img:hover{
opacity: 0.5;
-moz-opacity: 0.5;
filter:alpha(opacity=50);
}

#navbar{
color:white;
background:#333;
}

section#content{
background:white;
margin-top:12px;
border: 1px solid #C3C3C3;
}

.boxshadow section#content{
-webkit-box-shadow: 2px 2px 6px #8A8A8A;
   -moz-box-shadow: 2px 2px 6px #8A8A8A;
     -o-box-shadow: 2px 2px 6px #8A8A8A;
        box-shadow: 2px 2px 6px #8A8A8A;
}

#content header{
color:#000;
background:#BBE1F7;
}

header, article, footer{
padding:12px;
}

header, article, section, footer{
clear:both;
overflow:hidden;
}

/*
	Navigation
	------------------
*/
nav h2{
margin-right:10px;
}

nav a{
text-shadow: 0 -1px 0 #000;
font-size:.8em;
color:gray;
padding:5px;
margin:5px 0 0 5px;
-o-transition-duration: .33s;
-o-transition-property: color, background-color, border-radius;
-webkit-transition-duration: .33s;
-webkit-transition-property: color, background, border-radius;
-webkit-border-radius: 4px;
   -moz-border-radius: 4px;
        border-radius: 4px;
}

nav a:hover{
text-shadow: 0 -1px 0 #444;
background:gray;
}

.active{
	color:#fff;
}

header nav a, nav aside a{
color:gray;
text-decoration:none;	
font-weight:bold;
}

header nav a:hover, nav aside a:hover{
color:white;
text-decoration:none;	
}

nav aside a{
margin-right:5px;
}

#account a{
	font-size:.8em;
	background:none;
	-webkit-border-radius: none;
	   -moz-border-radius: none;
	        border-radius: none;
}

.no-csstransitions #account a:hover{
	text-decoration:underline;
}

#search input[type="text"]{
margin-left:5px;
background-image: url("/images/search.png");
background-position: left center;
background-repeat: no-repeat;
padding-left:16px;
}

ul{
	list-style-type:none;
}

/*
	Header UL Nav
	------------------
*/
header ul{
	margin:0;
}

header li{
	float:left;
	margin-left:24px;
	text-align:center;
}

header li a{
	color:#000;
	
}

header li a:hover{
	opacity: .5;
	color:#000;
	text-decoration:none;
}

/*
	Typography
	------------------
*/
body{
font-family: "Lucida Grande", "Helvetica Nueue", helvetica, sans-serif;
}

.strong, .strong td{
	font-weight:bold;
}

.large{
	font-size:2em;
	line-height:1.2em;
}

.small{
	font-size:.8em;
	line-height:1.2em;
}

nav a{
font-weight:bold;
font-size:1em;
}

section a{
	text-decoration:none;
    -o-transition-duration: .33s;
    -o-transition-property: color, background-color;
    -webkit-transition-duration: .33s;
    -webkit-transition-property: color, background;
}

header h1{
font-weight:700;
}

header p, header input[type="text"], header input[type="password"], header input.text, header input.title, header h3, header h2, header p, header h1, header h4, header div{
margin: 0;
}

header input{
margin:0;
}

.delete{
	text-decoration:underline;
	font-size: .8em;
	color:#8a1f11;
}

.total td{
	font-weight:bold;
	border-top:black solid 2px;
}


/*
	Date Picker
	------------------
*/
#daterangepicker{
	width:300px;
	font-size:14px;
}

/*
	Flash Messages
	------------------
*/
#flash_notice, #flash_error {padding:0.8em;margin:1em 0;border:2px solid #ddd;}
#flash_error {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}
#flash_notice, .notice {background:#e6efc2;color:#264409;border-color:#c6d880;}
#flash_error a{color:#8a1f11;}
#flash_notice a, .notice a {color:#264409;}

/*
	Tables
	------------------
*/
td a{
color:#000;
text-decoration:none;
font-weight:bold;
}

td{
	line-height:2em;
}

td a:hover{
color:#0099FF;
}

td p{
	margin:0;
	padding:0;
}

/*
	Buttons
	------------------
*/

#input{
	margin:0 0 15px;
}

#forgot{
	margin:15px 0 0 0;
}
a.button, input.button,	.button {
margin:0 0 15px;
text-decoration:none;
color:#373737;
background:-webkit-gradient(linear,0% 0%,0% 100%,from(#E8E7E7),to(#BEBFC2));
background:-moz-linear-gradient(top, #E8E7E7, #BEBFC2);
display: inline-block;
padding:5px;
font-weight:bold;
text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
border:1px solid rgba(0,0,0,0.4);
	-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	-moz-box-shadow: 0 0 0 1px #2C7CD1 inset, 0 1px 0 1px rgba(143, 228, 255, 0.6) inset, 0 28px 20px -18px rgba(143, 228, 255, 0.65) inset, 0 0 0 2px #2F94FF inset, 0 1px 0 0 rgba(255, 255, 255, 0.6)
		-webkit-box-shadow:0 0 0 1px #2C7CD1 inset, 0 1px 0 1px rgba(143, 228, 255, 0.6) inset, 0 28px 20px -18px rgba(143, 228, 255, 0.65) inset, 0 0 0 2px #2F94FF inset, 0 1px 0 0 rgba(255, 255, 255, 0.6)
}

a.button:hover, input.button:hover, .button:hover {
color:#000;
background:-webkit-gradient(linear,0% 0%,0% 100%,from(#BEBFC2),to(#E8E7E7));
background:-moz-linear-gradient(top, #BEBFC2, #E8E7E7);
cursor:pointer;
}
	
a.button:active, a.button:focus,  input.button:active, input.button:focus, .button:active, .button:focus {
background:-webkit-gradient(linear,0% 100%,0% 0%,from(rgba(255,255,255,1)),to(rgba(185,185,185,1)));
background:-moz-linear-gradient(bottom,rgba(255,255,255,1),rgba(185,185,185,1));
}


button:disabled {
color:rgba(0,0,0,0.4);
text-shadow:1px 1px 0px rgba(255,255,255,0.5);
background:rgba(220,220,220,1);
}

/* CALL TO ACTION */
.action, a.action, input.action{
background:-webkit-gradient(linear,0% 0%,0% 100%,from(#FFC100),to(#FF8B00));
background:-moz-linear-gradient(top, #FFC100, #FF8B00);
font-size:24px;
}


.action:hover, a.action:hover, input.action:hover{
background:-webkit-gradient(linear,0% 0%,0% 100%,from(#FF8B00),to(#FFC100));
background:-moz-linear-gradient(top, #FF8B00, #FFC100);
}

/*-------------------------------------------------------------- */
/* Forms */
label       { font-weight: bold;}
fieldset    { padding:1.4em; margin: 0 0 1.5em 0; border: 1px solid #ccc; }
legend      { font-weight: bold; font-size:1.2em; }


/* Fields */
input[type=text], input[type=password],
input.text, input.title,
textarea, select {
  background-color:#fff;
  border:1px solid #bbb;
}
input[type=text]:focus, input[type=password]:focus,
input.text:focus, input.title:focus,
textarea:focus, select:focus {
  border-color:#666;
}

input[type=text], input[type=password],
input.text, input.title,
textarea, select {
  margin:0 0 15px 0;
}

input.text,
input.title   { width: 300px; padding:5px; }
input.title   { font-size:1.5em; }
textarea      { width: 390px; height: 250px; padding:5px; }

input[type=checkbox], input[type=radio],
input.checkbox, input.radio {
  position:relative; top:0;
}

form.inline { line-height:3; }
form.inline p { margin-bottom:0; }

/* 
	PDF Generation Styling
*/
@media print {
  body {
    background-color: #FFF;
  }

  #container {
    width: auto;
    margin: 0;
    padding: 0;
    border: none;
  }
  
  #line_items {
    page-break-before: always;
  }
  
  #pdf_link {
    display: none;
  }
}

/*
	Activities
	------------------
*/

.wrong, .hangup, .cancel, .duplicate, .voicemail, .noanswer, .congestion, .busy, .unanswered, .after, .spam, .hangup {
	color:red;
}

.answer{
	color:green;
}

/*
	Dashboard
	------------------
*/

.stats{
	text-align:center;
	line-height:1;
}

.stats p{
	color:#606060;
	text-transform: uppercase;
	margin:0;
}

.stats h3{
	margin:6px;
	font-weight:bold;
}

/*
	Gridbot Background
	------------------
*/

.gridbot {
	background: #fff url("/images/gridbot.jpg") no-repeat right bottom;
}

/*
	Pillbox Demo
	------------------
*/

.pillbox{
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	        border-radius: 10px;
	-webkit-box-shadow: 2px 2px 10px #A0A0A0;
	   -moz-box-shadow: 2px 2px 10px #A0A0A0;
	     -o-box-shadow: 2px 2px 10px #A0A0A0;
	        box-shadow: 2px 2px 10px #A0A0A0;
}

.pill{
	-webkit-border-radius: 10px 10px 0 0;
	   -moz-border-radius: 10px 10px 0 0;
	        border-radius: 10px 10px 0 0;
	padding:6px;
	background:#95AEC4;
	border-bottom:1px solid #7A7A7A;
}

.pill h2{
	font-size:22px;
	font-weight:bold;
	line-height:1;
	margin:0;
	color:#3F4953;
}

/*
	Pagination
	------------------
*/
.pagination {
  text-align: center;}
  .pagination a, .pagination span{
    padding: .2em .3em; }
  .pagination span.disabled {
    color: #9E9E9E; }
  .pagination .current {
    font-weight: bold;
    background-color:#9E9E9E;
-webkit-border-radius: 75px;
   -moz-border-radius: 75px;
        border-radius: 75px;
	}
  .pagination a {
    text-decoration: none;
    color: black; }
    .pagination a:hover, .pagination a:focus {
      text-decoration: underline; }