/*	Facebox
	------	*/
#facebox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: left;
}
#facebox .content {
  display:table;
  width: 370px;
  background: #fff;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
}
#facebox .content > p:first-child{
  margin-top:0;
}
#facebox .content > p:last-child{
  margin-bottom:0;
}
#facebox .close{
  display:none;
}
#facebox .close img{
  opacity:0.3;
}
#facebox .close:hover img{
  opacity:1.0;
}

#facebox .loading {
  text-align: center;
}

#facebox .image {
  text-align: center;
}
#facebox img {
  border: 0;
  margin: 0;
}
#facebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
}
.facebox_hide {
  z-index:-100;
}
.facebox_overlayBG {
  background-color: #000;
  z-index: 99;
}

#facebox header{
	background:-webkit-gradient(linear,0% 100%,0% 0%,from(rgba(177,186,195,1)),to(rgba(239,240,244,1)));
	background:-moz-linear-gradient(bottom,rgba(27,43,62,1),rgba(42,71,106,1));
	-webkit-border-radius: 4px 4px 0 0;
	   -moz-border-radius: 4px 4px 0 0;
	        border-radius: 4px 4px 0 0;
}

#facebox footer{
	background:-webkit-gradient(linear,0% 100%,0% 0%,from(rgba(27,43,62,1)),to(rgba(42,71,106,1)));
	background:-moz-linear-gradient(bottom,rgba(27,43,62,1),rgba(42,71,106,1));
	-webkit-border-radius: 0 0 4px 4px;
	   -moz-border-radius: 0 0 4px 4px;
	        border-radius: 0 0 4px 4px;
}

#facebox header, #facebox article, #facebox footer{
	padding:12px;
}

#facebox header h1{
	font-size:18px;
	margin-bottom:0;
}

#facebox footer .button{
	margin:0;
	font-size:.9em;
}

#facebox footer hr{
	margin-bottom:0;
}

/*
	Layout / Backgrounds
	------------------
*/
body{
	background: url("/images/birch.jpg") repeat scroll 0 0 #DDB687;
	-webkit-font-smoothing: antialiased;
}

#wrapper{
	margin-top:48px;
	background:#efefef;
	-webkit-box-shadow: 2px 2px 10px #8C8C8C;
	   -moz-box-shadow: 2px 2px 10px #8C8C8C;
	     -o-box-shadow: 2px 2px 10px #8C8C8C;
	        box-shadow: 2px 2px 10px #8C8C8C;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}

#content{
	background:#fff;
	-webkit-border-radius: 0 0 4px 0;
	   -moz-border-radius: 0 0 4px 0;
	        border-radius: 0 0 4px 0;
}

#yield{
	min-height:400px;
}

#yield{
	padding:12px 24px;
}

a{
	text-decoration:none;
}

.left{float:left !important;}
.right{float:right !important;}
/*
	Toolbar
	------------------
*/

#toolbar{
	background: #2A476A;
	background:-webkit-gradient(linear,0% 100%,0% 0%,from(rgba(177,186,195,1)),to(rgba(239,240,244,1)));
	background:-moz-linear-gradient(bottom,rgba(27,43,62,1),rgba(42,71,106,1));
	-webkit-border-radius: 4px 4px 0 0;
	   -moz-border-radius: 4px 4px 0 0;
	        border-radius: 4px 4px 0 0;
}

#toolbar ul{
	float:right;
}

#toolbar li, header li{
	float:left;
	margin-left:12px;
}

#toolbar li a{
	color:#3f5877;
	text-shadow: -1px -1px #fff;
	line-height:36px;
	font-weight:bold;
}

#toolbar ul, #toolbar img{
	padding:6px 12px;
}

header ul{
	margin:0;
}


/*
	Navigation
	------------------
*/
nav ul{
	margin:0;
	padding-left:0;
}
#navigation li{
	border-top:1px solid #E9EAEB;
	border-bottom:1px solid #C7CCD1;
	padding:6px 0;
}

#navigation li.active{
	border-top:1px solid #677482 !important;
	background:#95A3B2;
	background:-webkit-gradient(linear,0% 100%,0% 0%,from(rgba(27,43,62,.6)),to(rgba(42,71,106,.6)));
	background:-moz-linear-gradient(bottom,rgba(27,43,62,.6),rgba(42,71,106,.6));
}

#navigation li.active a{
	color:#fff;
}

#navigation li a{
	text-decoration:none;
	color:#40474D;
	font-weight:bold;
	font-size:12px;
	line-height:24px;
	text-shadow:0 1px 0 rgba(0, 0, 0, 0.2);
}

#navigation li img{
	float:left;
	margin:0 12px;
	width:24px;
}

ul{
	list-style-type:none;
}

#navigation.span-4{
	margin-right:0;
	width:160px;
}

#content.span-20 {
    border-left: 1px solid #C7CCD1;
    width: 789px;
}

hr{
	background:#C7CCD1;
}

/*
	Footer
	------------------
*/

#footer{
	padding:12px;
}

footer small, footer small a{
	font-size:12px !important;
	color:#444;
}

footer small a{
	font-weight: bold;
}

/*
	Typography
	------------------
*/
body{
font-family: "Lucida Grande", "Helvetica Nueue", helvetica, sans-serif;
}

/*
	Yield Header
	------------------
*/

header h1{
	font-size:24px;
	font-weight:bold;
}

header h2{
	font-size:16px;
	font-weight:bold;
}

#yield header{
	border-bottom:1px solid #C7CCD1;
	margin-bottom:12px;
}

/*
	Date Picker
	------------------
*/
#daterangepicker{
	width:300px;
	font-size:14px;
}

.expand{
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
	border: 2px solid rgba(255,255,255,.6);
	background: url("/images/linen.jpg");
	padding:12px 24px;
	margin:0;
}

.expand, .expand h3{
	color:#fff;
	line-height:24px;
}

/*
	Flash Messages
	------------------
*/
#flash_notice, #flash_error {padding:0.8em;margin:1em 0;border:2px solid #ddd;}
#flash_error {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}
#flash_notice, .notice {background:#e6efc2;color:#264409;border-color:#c6d880;}
#flash_error a{color:#8a1f11;}
#flash_notice a, .notice a {color:#264409;}

/*
	Tables
	------------------
*/

/*
	Stats
	------------------
*/
.stats aside{
	width: 33.3%;
	float:left;
}
}
/*
	Buttons
	------------------
*/

#input{
	margin:0 0 15px;
}

#forgot{
	margin:15px 0 0 0;
}
a.button, input.button,	.button {
margin:0 0 15px;
text-decoration:none;
color:#373737;
background:-webkit-gradient(linear,0% 0%,0% 100%,from(#E8E7E7),to(#BEBFC2));
background:-moz-linear-gradient(top, #E8E7E7, #BEBFC2);
display: inline-block;
padding:5px;
font-weight:bold;
text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
border:1px solid rgba(0,0,0,0.4);
	-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	-moz-box-shadow: 0 0 0 1px #2C7CD1 inset, 0 1px 0 1px rgba(143, 228, 255, 0.6) inset, 0 28px 20px -18px rgba(143, 228, 255, 0.65) inset, 0 0 0 2px #2F94FF inset, 0 1px 0 0 rgba(255, 255, 255, 0.6)
		-webkit-box-shadow:0 0 0 1px #2C7CD1 inset, 0 1px 0 1px rgba(143, 228, 255, 0.6) inset, 0 28px 20px -18px rgba(143, 228, 255, 0.65) inset, 0 0 0 2px #2F94FF inset, 0 1px 0 0 rgba(255, 255, 255, 0.6)
}

a.button:hover, input.button:hover, .button:hover {
color:#000;
background:-webkit-gradient(linear,0% 0%,0% 100%,from(#BEBFC2),to(#E8E7E7));
background:-moz-linear-gradient(top, #BEBFC2, #E8E7E7);
cursor:pointer;
}
	
a.button:active, a.button:focus,  input.button:active, input.button:focus, .button:active, .button:focus {
background:-webkit-gradient(linear,0% 100%,0% 0%,from(rgba(255,255,255,1)),to(rgba(185,185,185,1)));
background:-moz-linear-gradient(bottom,rgba(255,255,255,1),rgba(185,185,185,1));
}


button:disabled {
color:rgba(0,0,0,0.4);
text-shadow:1px 1px 0px rgba(255,255,255,0.5);
background:rgba(220,220,220,1);
}

/* CALL TO ACTION */
.action, a.action, input.action{
background:-webkit-gradient(linear,0% 0%,0% 100%,from(#FFC100),to(#FF8B00));
background:-moz-linear-gradient(top, #FFC100, #FF8B00);
font-size:24px;
}


.action:hover, a.action:hover, input.action:hover{
background:-webkit-gradient(linear,0% 0%,0% 100%,from(#FF8B00),to(#FFC100));
background:-moz-linear-gradient(top, #FF8B00, #FFC100);
}

/*-------------------------------------------------------------- */
/* Forms */
label       { font-weight: bold;}
fieldset    { padding:1.4em; margin: 0 0 1.5em 0; border: 1px solid #ccc; }
legend      { font-weight: bold; font-size:1.2em; }


/* Fields */
input[type=text], input[type=password],
input.text, input.title,
textarea, select {
  background-color:#fff;
  border:1px solid #bbb;
}
input[type=text]:focus, input[type=password]:focus,
input.text:focus, input.title:focus,
textarea:focus, select:focus {
  border-color:#666;
}

input[type=text], input[type=password],
input.text, input.title,
textarea, select {
  margin:0 0 15px 0;
}

input.text,
input.title   { width: 300px; padding:5px; }
input.title   { font-size:1.5em; }
textarea      { width: 390px; height: 250px; padding:5px; }

input[type=checkbox], input[type=radio],
input.checkbox, input.radio {
  position:relative; top:0;
}

form.inline { line-height:3; }
form.inline p { margin-bottom:0; }

/* 
	PDF Generation Styling
*/
@media print {
  body {
    background-color: #FFF;
  }

  #container {
    width: auto;
    margin: 0;
    padding: 0;
    border: none;
  }
  
  #line_items {
    page-break-before: always;
  }
  
  #pdf_link {
    display: none;
  }
}

/*
	Activities
	------------------
*/

.wrong, .hangup, .cancel, .duplicate, .voicemail, .noanswer, .congestion, .busy, .unanswered, .after, .spam, .hangup {
	color:red;
}

.answer{
	color:green;
}

/*
	Dashboard
	------------------
*/

.stats{
	text-align:center;
	line-height:1;
}

.stats p{
	color:#606060;
	text-transform: uppercase;
	margin:0;
}

.stats h3{
	margin:6px;
	font-weight:bold;
}

/*
	Side Panel
	------------------
*/
.main{
	width:70%;
}
.panel{
	background:#efefef;
	width:30%;
	margin-right:0;
	overflow:hidden;
}

/*
	Channels
	------------------
*/

.channels th{
	border-right:1px solid #A8A8A8;
	background:#efefef;
	font-size:1.4em;
}

.channels thead{
	border:1px solid black;
}

.channels th:first-child{
	-webkit-border-radius: 4px 0 0 4px;
	   -moz-border-radius: 4px 0 0 4px;
	        border-radius: 4px 0 0 4px;
}

.channels th:last-child{
	-webkit-border-radius: 0 4px 4px 0;
	   -moz-border-radius: 0 4px 4px 0;
	        border-radius: 0 4px 4px 0;
	border-right:none;
}

.channels td{
	padding-left:12px;
	font-size:1.2em;
}

.price{
	color:#727272;
}

/*
	Pagination
	------------------
*/
.pagination {
  text-align: center;}
  .pagination a, .pagination span{
    padding: .2em .3em; }
  .pagination span.disabled {
    color: #9E9E9E; }
  .pagination .current {
    font-weight: bold;
    background-color:#9E9E9E;
-webkit-border-radius: 75px;
   -moz-border-radius: 75px;
        border-radius: 75px;
	}
  .pagination a {
    text-decoration: none;
    color: black; }
    .pagination a:hover, .pagination a:focus {
      text-decoration: underline; }