/*
	Layout / Backgrounds
	------------------
*/
body.container{
width:974px;
margin:0 auto;
background-image: url("/images/grid_background.png");
}

#logo{
float:left;
margin-right:10px;
}

#logo img:hover{
opacity: 0.8;
-moz-opacity: 0.8;
filter:alpha(opacity=80);
}

header#nav{
color:white;
background:#333;
}

nav aside{
float:right;
}

section#content{
background:white;
margin-top:12px;
border: 1px solid #C3C3C3;
}

.boxshadow section#content{
-webkit-box-shadow: 2px 2px 2px #5D5D5D;
   -moz-box-shadow: 2px 2px 2px #5D5D5D;
     -o-box-shadow: 2px 2px 2px #5D5D5D;
        box-shadow: 2px 2px 2px #5D5D5D;
}

header{
background:#81A3FF;
}

header, article, footer{
padding:12px;
}

header, article, section, footer{
clear:both;
overflow:hidden;
}

/*
	Navigation
	------------------
*/
nav h2{
margin-right:10px;
}

nav a{
font-size:.8em;
color:gray;
padding:5px;
margin-left:5px;
}

nav a:hover{
background:gray;
-webkit-border-radius: 4px;
   -moz-border-radius: 4px;
        border-radius: 4px;
}

header nav a, nav aside a{
color:gray;
text-decoration:none;	
}

header nav a:hover, nav aside a:hover{
color:white;
text-decoration:none;	
}

nav aside a{
margin-right:5px;
}

/*
	Typography
	------------------
*/
body{
font-family:"Lucida Grande", "Helvetica Nueue", helvetica, sans-serif;
}

nav a, header h3{
}

.no-fontface body {

}

nav a{
font-weight:bold;
font-size:1em;
}

a{
text-decoration:none;
}

a:hover{
text-decoration:underline;
}

header h3{
text-transform:uppercase;
}

header p, header input[type="text"], header input[type="password"], header input.text, header input.title, header h3, header h2, header p, header h1{
margin: 0;
}

header input{
margin:0;
}

/*
	Highcharts
	------------------
*/
#highcharts{
}

/*
	Tables
	------------------
*/
td a{
color:#000;
font-weight:bold;
}

td a:hover{
color:#464646;
}
/*
	Buttons
	------------------
*/
a.button, input.button,	.button {
text-decoration:none;
margin: 15px 0;
color:#373737;
background:-webkit-gradient(linear,0% 0%,0% 100%,from(#E8E7E7),to(#BEBFC2));
background:-moz-linear-gradient(top, #E8E7E7, #BEBFC2);
display: inline-block;
padding:5px;
font-size:24px;
font-weight:bold;
text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
border:1px solid rgba(0,0,0,0.4);
	-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	-moz-box-shadow: 0 0 0 1px #2C7CD1 inset, 0 1px 0 1px rgba(143, 228, 255, 0.6) inset, 0 28px 20px -18px rgba(143, 228, 255, 0.65) inset, 0 0 0 2px #2F94FF inset, 0 1px 0 0 rgba(255, 255, 255, 0.6)
		-webkit-box-shadow:0 0 0 1px #2C7CD1 inset, 0 1px 0 1px rgba(143, 228, 255, 0.6) inset, 0 28px 20px -18px rgba(143, 228, 255, 0.65) inset, 0 0 0 2px #2F94FF inset, 0 1px 0 0 rgba(255, 255, 255, 0.6)
}

a.button:hover, input.button:hover, .button:hover {
color:#000;
background:-webkit-gradient(linear,0% 0%,0% 100%,from(#BEBFC2),to(#E8E7E7));
background:-moz-linear-gradient(top, #BEBFC2, #E8E7E7);
cursor:pointer;
}
	
a.button:active, a.button:focus,  input.button:active, input.button:focus, .button:active, .button:focus {
background:-webkit-gradient(linear,0% 100%,0% 0%,from(rgba(255,255,255,1)),to(rgba(185,185,185,1)));
background:-moz-linear-gradient(bottom,rgba(255,255,255,1),rgba(185,185,185,1));
}


button:disabled {
color:rgba(0,0,0,0.4);
text-shadow:1px 1px 0px rgba(255,255,255,0.5);
background:rgba(220,220,220,1);
}

/* CALL TO ACTION */
.action, a.action, input.action{
background:-webkit-gradient(linear,0% 0%,0% 100%,from(#FFC100),to(#FF8B00));
background:-moz-linear-gradient(top, #FFC100, #FF8B00);
font-size:24px;
}


.action:hover, a.action:hover, input.action:hover{
background:-webkit-gradient(linear,0% 0%,0% 100%,from(#FF8B00),to(#FFC100));
background:-moz-linear-gradient(top, #FF8B00, #FFC100);
}

/*-------------------------------------------------------------- */
/* Forms */
label       { font-weight: bold;}
fieldset    { padding:1.4em; margin: 0 0 1.5em 0; border: 1px solid #ccc; }
legend      { font-weight: bold; font-size:1.2em; }


/* Fields */
input[type=text], input[type=password],
input.text, input.title,
textarea, select {
  background-color:#fff;
  border:1px solid #bbb;
}
input[type=text]:focus, input[type=password]:focus,
input.text:focus, input.title:focus,
textarea:focus, select:focus {
  border-color:#666;
}

input[type=text], input[type=password],
input.text, input.title,
textarea, select {
  margin:0 0 15px 0;
}

input.text,
input.title   { width: 300px; padding:5px; }
input.title   { font-size:1.5em; }
textarea      { width: 390px; height: 250px; padding:5px; }

input[type=checkbox], input[type=radio],
input.checkbox, input.radio {
  position:relative; top:.25em;
}

form.inline { line-height:3; }
form.inline p { margin-bottom:0; }
/*-------------------------------------------------------------- */
/* Old Stuff */

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

div.pagination{
	margin: 5px 0px;
	padding: 0px;
	text-align: center ; 
}

div.activity_item {
  background-color:#FFF;
  border:1px dotted #EEE;
  font-size: 14px;
  float:left;
  height:auto;
  margin:5px auto;
  text-align:center;
  width:100%;
}

div.activity_notice{
  background-color:#FFF;
  border:1px dotted #EEE;
  font-size: 200%;
  float:left;
  height:auto;
  margin:5px auto;
  text-align:center;
  width:100%;
}

div.activity_item .title {
  background-color:#EEE;
  padding: 5px 0;
  font-weight: bold;
  float:left;
  height:auto;
  text-align:center;
  width:100%;
}

div.activity_item .bottom_title {
  background-color:#FFF;
  padding: 5px 0;
  float:left;
  height:auto;
  text-align:center;
  width:100%;
}

div.activity_item .leftinfo {
  float: left;
  margin: 5px 10px;
  font-size: 10px;
  color:#64503F;
}

div.activity_item .rightinfo{
  float: right;
  margin: 5px 10px;
  font-size: 10px;
  color:#64503F;
}

div.activity_item .icon {
  float:left;
  margin: 6px 10px;
}

div.activity_item .info {
  font-size: 14px;
  float:left;
  margin: 6px 10px;
  text-align: left;
}

div.activity_item .review {
  font-size: 14px;
  float:right;
  margin: 6px 10px;
  width: 200px;
}

div.activity_item .time {
  margin: 5px 2px;
  font-size: 10px;
  color:#64503F;
}

div.activity_item ul {
  list-style:none outside none;
  margin:0;
  padding:0;
}
div.activity_item li {
  line-height:1.3em;
  margin-bottom:3px;
  font-size: 12px;
}

div.activity_item .tinybox {
  background-color:#FFFFFF;
  /*border:1px solid #999999;*/
  float:left;
  margin:6px 10px;
  text-align:left;
  width:260px;
}

div.shortbox {
  background-color:#FFFFFF;
  /*border:1px solid #999999;*/
  float:left;
  height:270px;
  margin:15px;
  padding:10px;
  text-align:center;
  width:260px;
}

p#worst {
    padding-bottom: 4px;
    color: #ff3300;
}

p#worst a {
  color:#444;
  text-decoration:none;
}

p#worst a:hover {
    text-decoration: underline;
}

.peoplesection { /* For a horizontal section of content */
    width: 640px; /* content - 20 (borders) */
    padding: 0 0px;
}


#timeline_chart {}
#download {
      text-align: right;
}
#news {
}
#biggest-movers {}
#rising-articles {
    margin-bottom: 30px;
}


#chart table {
	width: 100%;
}


#dropping-articles {}

iframe.wikiframe {
    width: 928px;  /* section - 10 (borders) - 2 (padding)*/
    padding: 1px;
    border: 5px solid #CCC;
}

