%header       
  %h1 Users
%article
  %table
    %thead
      %tr
        %th User
        %th Details
    %tbody
      - @users.each do |user|
        %tr
          %td
            = link_to user.email, edit_user_path(user)
            %br
            %small
              Last activity
              = user.last_request_at.nil? ? "Has Not logged in" : time_ago_in_words(user.last_request_at)
              ago
          %td
            Joined
            = time_ago_in_words(user.created_at)
            ago