:javascript
  $(document).ready(function(){
    // if they click cancel, close the facebox
    $('#cancel').click(function(){$.facebox.close()});
    $("#register").click(function(){
      $('#new_user').validate();
      // If it is valid, submit
      if( $('#new_user').valid() )
        $("#new_user").submit();
    });
  });

- form_for @user, :url => account_users_path(@account) do |f|
  %header
    %h1 Register a New User
  %article
    %p
      %label Email
      %br
      = f.text_field :email, :class => 'required title'
    %p
      %label Password
      %br
      = f.password_field :password, :class => 'required title'
    %p
      %label Confirm Password
      %br
      = f.password_field :password_confirmation, :class => 'required title'
    %p
      %label Type
      %br
      - if @current_user.can_manipulate_account?(@account)
        %select{:id => 'user_type', :name => 'user[type]', :class => 'required'}
          %option{:value => 1} Group User Write
          %option{:value => 2} Group User Read
          %option{:value => 3} Account User Write
          %option{:value => 4} Account User Read
      - else
        %select{:id => 'user_type', :name => 'user[type]', :class => 'required'}
          %option{:value => 4} Account User Read
      =# hidden_field_tag 'acco', 'VUBJKB23UIVI1UU1VOBVI@'
%footer
  #submit
    %button{:class => 'button', :id => 'cancel'} Cancel
    %button{:class => 'button', :id => 'register'} Register
  %hr.space


