#subnav
  .container
    %ul
      %li 
        =tab_link_to "Dashboard", root_url
      %li
        =tab_link_to "Accounts", accounts_url
      %li 
        =tab_link_to "Activity", activities_url
      %li
        =tab_link_to "Job Statuses", job_statuses_url
      %li 
        =tab_link_to "Users", users_url
