#subnav
  .container
    %ul
      %li 
        =tab_link_to "Admin Dashboard", admin_url
      %li
        =tab_link_to "Accounts", admin_accounts_url
      %li 
        =tab_link_to "Activity", admin_activities_url
      %li 
        =tab_link_to "Users", admin_users_url
