:javascript
  $(function() {
      $('#daterangepickers').daterangepicker({
          onChange: this.form.submit();
      });
  });

-form_for(accounts_path, :html => {:method => "get", :onchange => "alert('hello')"}) do |f|
  = f.text_field :daterangepicker, :placeholder => "#{(@start_date).to_s(:long)}" + ' to ' + "#{@end_date.to_s(:long)}", :name => "daterange", :id => "daterangepicker", :autocomplete => "off", :value => @date_range
  = f.submit "Change Date Range"