- if @current_user.admin? || @current_user.group_user?
  %li
    %a{:onclick => "confirm_refresh_accounts();"}
      = image_tag ("icons/refresh.png")
      %br
      Refresh
  %li
    %a{:onclick => "confirm_export_accounts();"}
      = image_tag ("icons/csv.png")
      %br
      CSV
  