- if @current_user.admin? || @current_user.account_manager?
  = link_to 'Refresh Accounts', "#", :onclick => "confirm_refresh_accounts();"
  |
  = link_to 'Export Accounts', "#", :onclick => "confirm_export_accounts();"
  -if request.path_parameters['action'] == "show"
    |
  