- if @campaign.phone_numbers.empty? && @campaign.contact_forms.empty?
  %article.blank
    %h1.strong Make your campaign go somewhere
    %h2.quiet Campaigns are the glue that connect people to your business. How customers get a hold of you affects how you track leads. Start tracking your campaign by adding a forwarding number or generating a form for a website.
    = render :partial => 'campaigns/campaign_types/listings/buttons'

- unless @campaign.phone_numbers.empty? && @campaign.contact_forms.empty?
  = render :partial => 'campaigns/campaign_types/common'