%article
  %h3 Campaign Details (In progress)
  %table
    %thead
      %tr
        %th Keyword
        %th Clicks
        %th Impressions
        %th CTR
        %th Avg. CPC
        %th Cost
        %th Avg. Position
        %th Quality Score
        %th Group
    %tbody
      %tr
        %td joel's glasses
        %td 78
        %td 210
        %td 38%
        %td $40.50
        %td $2,000.00
        %td 1.2
        %th 2/10
        %td CityVoice