%header
  %h1 Welcome to Grid
%article
  %h2 New fun things are being added daily, please use the feedback button at the bottom right to report issues or suggest new features.
  - if can? :read, Account
    You are allowed to read all accounts
  - else
    Cannot read any accounts