= content_for :crumb do
  Dashboard
  
- if params[:q] == 'real'
  :javascript
    jQuery.ajaxSetup({
      'beforeSend': function(xhr) {xhr.setRequestHeader("Accept", "text/javascript")}
    })

    $(function() {
      setTimeout(refreshGraph, 900000);
    });

    function refreshGraph() {
      window.location = self.location;
      setTimeout(refreshGraph, 900000);
    }
    
- if @user
  - if @user.account_user?
    =high_chart("total_daily_leads", @total_daily_leads)
  
  - else
    .center
      .column-3
        %h3 Active Accounts
        %h1= @active_accounts_count
      .column-3
        %h3 Total Users
        %h1= @users_count
      .column-3-last
        %h3 Leads Today
        %h1= @leads_count
    .separator
    =high_chart("total_daily_leads", @total_daily_leads)