%header
  %h1 Welcome to Grid
%article
  
  - if @user.admin?
    %hr
    .stats
      %aside.span-7.append-1
        %p Active Accounts
        %h3#active_accounts= @active_accounts_count
      %aside.span-7.append-1
        %p Total Users
        %h3#users= @users_count
      %aside.span-7.last
        %p Leads Today
        %h3#leads= @leads_count
      =high_chart("total_daily_leads", @total_daily_leads)