- if @user.admin?
  %header
    %h1 CityVoice Dashboard
  %article 
    .stats
      %aside.span-7.append-1
        %p Active Accounts
        %h3#active_accounts= @active_accounts_count
      %aside.span-7.append-1
        %p Total Users
        %h3#users= @users_count
      %aside.span-7.last
        %p Leads Today
        %h3#leads= @leads_count
      .span-23.last=high_chart("total_daily_leads", @total_daily_leads)
- else
  %header
    %h1 Dashboard
  %article
    %h2 New fun things are being added daily, please use the feedback button at the bottom right to report issues or suggest new features.