:javascript
  function load_file() {
    $('#container').html('<p><img src="images/facebox/loading.gif" /></p>');
    $('#container').load("404.html");
  }
	
  jQuery(document).ready(function($) {
    $('a[rel*=facebox]').facebox()
  })

%header
  %h1 Welcome to Grid
%article
  %h2 New fun things are being added daily, please use the feedback button at the bottom right to report issues or suggest new features.
  %p <a href="#" onclick="load_file()" rel="facebox">Load</a>
  
  #container
    %p
  
  