%header.pitch
  %h1 Hey, What’s Making *Your* Phone Ring?
  %h2 Finally learn the answer to this question with Grid, which gives small business owners and consultants the bottom-line results of their marketing efforts.
%hr.space
%article
  #video.span-12
    :erb
      <iframe src="http://player.vimeo.com/video/21817065?title=0&amp;byline=0&amp;portrait=0&amp;color=dd4499" width="470" height="300" frameborder="0"></iframe>
  #register.span-12.last
    %p One interface, unlimited tracking, instant results. Seriously.
    %p So, go ahead and track everything (yes, everything) that you’re doing to market your company, including stuff like:
    %ul.small
      %li Fliers
      %li Magnets
      %li Truck/Van Graphics
      %li Yellow Page Ads
      %li Google AdWords
      %li Newspaper Ads
      %li Door Hangers
    %br
    %center= link_to "Request an Invite", "http://eepurl.com/c711c", :class => "button big primary"
%hr.space
%article
  %section.span-8
    %h2 Key benefits
    %p 
      %span.iconic.tag
      Find your most profitable key words.
    %p 
      %span.iconic.image
      Compare your existing Adwords.
    %p
      %span.iconic.phone
      Track and listen to sales calls.
  %section.span-8
    %h2 Perfect for Consultants.
    %p.small Save loads of time by tracking your clients' campaigns on your own white-labeled dashboard.
    %p.small.strong See instant results (from one simple interface) to drive your recommendations.
  %section.span-8.last
    %h2 No more ad waste
    %p.small Are all those fliers, Yellow Page ads, newsletters, or van decals really paying off?
    %p.small.strong Find out -- finally! -- which of your marketing activities are resulting in new customers.
%hr.space