-if @user
	You're an admin! Click on the appropriate link (above) to get started...
-else
	%section.center
		%h3
			Grid is a dashboard to view how effective your marketing is working. It's like what NASA uses, but easier.
			%br
			Coming Soon...
			%br
		=image_tag("splash.jpg")
			