-if @user
  %header
    %h1 Welcome to Grid
  %article
    %h2 What can I do?
    %h3 Add and track your marketing campaigns, it's just that simple.
    %h2 Trouble?
    %h3
      Things here are "in the works", not everything you see might be functioning properly. If something is amiss please report it to
      = mail_to "support@cityvoice.com"
-else
  %header
    %h1 Grid
    %h2 Track your marketing ROI.
  %article
    %h2 Business owners
    %p Is yellow pages really working for you? How much revenue did that newspaper ad last fall generate? These are the types of questions that can be answered with Grid.
    %p Start tracking by signing up.
    %h3 How simple is it?
    %ol
      %li Setup any campaign in less than 5 minutes.
      %li Get a unique phone number and landing page to start tracking.
      %li Don't waste money on weak-sauce marketing ever again.
    %hr
    %h2	Marketing consultants
    %p Losing clients because no one sent out a report? Having problems tracking offline campaigns? Never again with Grid, we're here to fix those problems for good.
    %p Don't be that guy anymore. Sign up.
    %h3 How does it work?
    %ol
      %li Add your client's and track their campaigns.
      %li Send automatic e-mails and generate reports all day to maximize marketing zen.
      %li Be able to show off all the hard work you do.
    %hr
    %p.small 
      Still have questions? Email us at
      = mail_to "support@cityvoice.com"