-if @user
  %header
    %h1 Welcome to Grid
  %article
    %h2 What can I do?
    %h3 Add and track your marketing campaigns, it's just that simple.
    %h2 Trouble?
    %h3
      Things here are "in the works", not everything you see might be functioning properly. If something is amiss please report it to
      = mail_to "support@cityvoice.com"
-else
  %header
    %h2 Grid is a dashboard to view how effective your marketing is. 
  %article
    %h4 Coming Soon.			