%header.center
  %h1.strong Which of your marketing efforts are working?
  %h2.quiet Grid tells you <i>what</i> made your phone ring or your email ding.
  %hr
  = image_tag("new_lead.jpg")
.span-7.append-1
  %h3.strong Track Offline Leads
  %p.quiet Get specific phone numbers for each of your marketing campaigns.
.span-7.append-1
  %h3.strong Website Analytics
  %p.quiet Track which keywords are bringing the most revenue for your business.
.span-6.last
  %h3.strong Integrate Adwords
  %p.quiet Compare your Adwords campaigns right from Grid. 
%hr.space

