%header.pitch
  %h1 Know where your customers came from.
  %h2 Grid tells you what made your phone ring or your email ding.
%hr.space
%article
  #video.span-12
    :erb
      <iframe src="http://player.vimeo.com/video/21817065?title=0&amp;byline=0&amp;portrait=0&amp;color=dd4499" width="470" height="300" frameborder="0"></iframe>
  #register.span-12.last
    %p Stop wasting money on marketing that simply doesn't work for your business. Answer questions like, How did this customer find us? Is yellow pages really worth that? Which marketing is working?
    %br
    %p Spend five minutes to save thousands next quarter.
    %br
    = link_to "Request an Invite", "http://eepurl.com/c711c", :class => "button"
%hr.space
%article
  %section.span-16
    %h2
      Monitor
      %span leads in real time
    %p Using online and offline tracking, you can know where every single customer comes from. With Grid you will always know which marketing tactics are working, and how much each specific lead is worth to you.
  %section.span-8.last
    %h2 
      Benefits
      %span to using Grid
    %p 
      %span.iconic.tag
      Find your most profitable key words.
    %p 
      %span.iconic.image
      Compare your existing Adwords.
    %p
      %span.iconic.phone
      Track and listen to sales calls.
%hr.space