:javascript
  $(document).ready(function(){
    $("#create").click(function(){
      $('#new_phone_number').validate();
      // If it is valid, submit
      if( $('#new_phone_number').valid() )
        $("#new_phone_number").submit();
    });
  });
- form_tag(channel_campaign_phone_numbers_path(@account, @channel, @campaign), :method => :post, :id => "new_phone_number") do
  %header
    %strong.right.iconic.info
    %h1= "#{@campaign.name} - #{@channel.name}"
    %h2= @account.name
  %article
    %label Forwarding Number
    %br
    %label.small.quiet Where you want all your calls to go to
    %br
    %input{:id => "phone_number_forward_to", :name => "phone_number[forward_to]", :type => "text", :placeholder => "2108446400", :class => "title required", :maxlength => "10"}
    %br
    %label Area Code
    %br
    %label.small.quiet Request a specific area code
    %br
    %input{:id => "phone_number_area_code", :name => "phone_number[area_code]", :type => "text", :placeholder => "123", :class => "title required", :maxlength => "3"}
    %br
    %label Rate Center
    %br
    %label.small.quiet Callers within this range can dial seven digits
    %br
    %input{:id => "#", :name => "#", :type => "text", :placeholder => "456", :class => "title", :maxlength => "3"}
    %br
    %input{:type => "checkbox"} Send me a test call
  %footer
    %button{:id => 'create', :class => "button"} Generate Phone Number