- @campaign.phone_numbers.each do |number|
  %li= "Your inbound number is: #{number.inboundno}, Forwarded to: #{number.forward_to}"
.button
  %a.iconic.phone
  = link_to "Add Phone Number", new_channel_campaign_phone_number_path(@account, @channel, @campaign), :rel => "facebox"