.activity
  = will_paginate(@activities)
  -@activities.each do |activity|
    -if activity.activity_type_type == "Call"
      = render :partial => "shared/activity_call", :locals => { :activity => activity.activity_type }
    -if activity.activity_type_type == "Submission"
      = render :partial => "shared/activity_submission", :locals => { :activity => activity.activity_type }
  = will_paginate(@activities)
  .clear