%header
  %h1= @keyword.descriptor
%article
  %p.quiet Lower rankings are better, 101 means that we do not have a ranking for that day or your site is not listed for that keyword.
  =high_chart("daily_keyword_ranking_graph", @daily_keyword_ranking_graph)
  %hr.space