%iframe{:height => "600", :allowTransparency => "true", :frameborder => "0", :scrolling => "no", :style => {:width => "100%", :border => "none"}, :src => "http://cityvoice.wufoo.com/embed/z7x4a3/"}
  %a{:href => "http://cityvoice.wufoo.com/forms/z7x4a3/", :title="CityVoice Template", :rel => "nofollow"} 
    =Fill out my Wufoo form!
    
    
