:javascript
  $(document).ready(function(){
    $('#cancel').click(function(){$.facebox.close(); return false;});
    $("#update").click(function(){
      $('.edit_campaign').validate();
      // If it is valid, submit
      if( $('.edit_campaign').valid() )
        $(".edit_campaign").submit();
    });
  });

- form_for @campaign, :url => channel_campaign_path, :method => "put" do |f|
  %header
    %h1= "Edit #{@campaign.name} Campaign"
  %article
    %label Name
    %br
    %input.title{:id => "campaign_name", :name => "campaign[name]", :type => "text", :value => @campaign.name}
    %br
    - if @campaign.is_seo?
      %label URL
      %br
      %input.title{:id => "campaign_url", :name => "campaign[url]", :type => "text", :value => @campaign.website.domain}
      %br
      %br
      %label Keywords
      %br
      %input.title{:id => "campaign_keywords", :name => "campaign[keywords]", :type => "text"}
      %br
      %br
      %label Budget
      %br
      %input.title{:id => "campaign_budget", :name => "campaign[budget]", :type => "text", :value => @campaign.campaign_style.budget}
      %br
      %br

    - elsif @campaign.is_sem?
      %label Google Campaign ID
      %br
      %input.title{:id => "campaign_adwords_id", :name => "campaign[adwords_id]", :type => "text", :value => @account.adwords_client.reference_id}
      %br
      %label Landing Page
      %br
      %input.title{:id => "campaign_landing_page", :name => "campaign[landing_page]", :type => "text", :value => @campaign.website.domain}
      %br
      %label Mark up
      %br
      %input.title{:id => "campaign_rake", :name => "campaign[rake]", :type => "text", :value => @campaign.campaign_style.rake}
      %br
      %br

    = link_to 'Pause this Campaign', channel_campaign_path(@account, @channel, @campaign), :class => "button", :confirm => "This will delete this campaign, are you sure?", :method => :delete

%footer
  #submit
    = link_to "Cancel", "", :class => "cancel", :id => 'cancel'
    %button{:id => 'update', :class => 'button'} Update
  %hr.space