:javascript
  $(document).ready(function(){
    $("#create").click(function(){
      $('#new_campaign').validate();
      // If it is valid, submit
      if( $('#new_campaign').valid() )
        $("#new_campaign").submit();
    });
  });

%header
  %h1
    New Campaign -
    %span= @channel.name
  %h2.quiet= @account.name
%article
  -form_for @campaign, :url => channel_campaigns_path do |f|
    = f.label "Name"
    %br
    = f.text_field(:name, :placeholder => "CityVoice", :class => "title required")
    %br
  %button{:id => 'create', :class => "button"} Create Campaign