%header
  %h3 Create Campaign
  %h4.quiet= @account.name
%article
  #create.span-8.append-1
    -form_for @campaign, {:url => new_account_campaign_path}, :method => "post" do |f|
      %input{:type => "hidden", :id => :account_id, :name => :account_id, :value => @account.id.to_s}
      %label Name
      %br
      %input{:type => "text", :placeholder => "CityVoice", :name => "name", :id => "name", :class => "title"}
      %label Campaign Type
      %br
      %select{:name => "flavor"}
        - for flavor in @flavors
          %option= flavor
      %br
      %label="Industry"
      %br
      %select{:name => "industry"}
        - for industry in @industries
          %option= industry
      %br
      -#%label="URL"
      -#%br
      -#%input{:type => "text", :placeholder => "http://", :name => "url", :id => "url", :class => "title"}
      -#%br
      %label Forwarding Number
      %br
      %label.small.quiet Where you want all your calls to go to
      %br
      %input{:type => "text", :placeholder => "2108446400", :name => "forwarding_number", :id => "forwarding_number", :class => "title", :maxlength => "10"}
      %label Area Code
      %br
      %label.small.quiet For your new tracking phone number
      %br
      %input{:type => "text", :placeholder => "210", :name => "area_code", :id => "area_code", :class => "title", :maxlength => "3"}
      %input{:type => "submit", :value => "Create Campaign", :id => "create_campaign", :class => "button"}
  #helper.span-13.last.box
    %h3 What is going on?
    %p.quiet By creating a campaign, you will be given a phone number to put on your marketing material. This phone number is specific to your marketing campaign and all calls can be tracked through Grid. 
    