= javascript_include_tag 'jquery.flash.js'

- if params[:q] == 'real'
  :javascript
    jQuery.ajaxSetup({
      'beforeSend': function(xhr) {xhr.setRequestHeader("Accept", "text/javascript")}
    })

    $(function() {
      setTimeout(updateActivity, 30000);
    });

    function updateActivity() {
      var after = $("#activities tbody tr").attr("data-time");
      $.getScript("/activities.js?after=" + after)
      setTimeout(updateActivity, 30000);
    }

:javascript
  $(document).ready(function() {
    $(".edit_activity").change(function() {
      this.submit();
    });
  });

  function playSound(url) {
    var message;

    // If they have support for audio
    if( Modernizr.audio && Modernizr.audio.mp3){
      message = '<center><audio preload="auto" autobuffer><source src="'+url+'" /></audio></center>';
    } else {
      message = '<center><embed width="240px" height="20px" type="application/x-shockwave-flash" src="./player.swf" pluginspage="http://www.adobe.com/go/getflashplayer" flashvars="loop=no&autostart=no&animation=no&soundFile='+url+'"></center>';
    }

    // show the audio
    $.facebox(message);

    if(Modernizr.audio) {
      // initialize the audiojs
      audiojs.events.ready(function(){
        audiojs.createAll();
      });
    }

    // When facebox closes, remove the mp3_player element
    $(document).bind('close.facebox', function() {
      $("#facebox_content").empty();
    });
  }
  

%header
  .right.pagination= will_paginate(@activities)
  %h3 Activity
%article
  %table#activities.small
    %thead
      %tr
        %th Type
        %th Campaign
        %th From
        %th Content
        %th Review
        %th Time
        -#%th Customer Lobby
    %tbody
      - for activity in @activities
        = render activity, :locals => {:activity => activity}
  .pagination= will_paginate(@activities)