- if params[:q] == 'real'
  :javascript
    jQuery.ajaxSetup({
      'beforeSend': function(xhr) {xhr.setRequestHeader("Accept", "text/javascript")}
    })

    $(function() {
      setTimeout(updateActivity, 25000);
    });

    function updateActivity() {
      var after = $("#activities tbody tr").attr("data-time");
      $.getScript("/activities.js?after=" + after)
      setTimeout(updateActivity, 25000);
    }

%header
  %h3 Activity
%article
  .right= will_paginate(@activities_calls)
  %h2 Phone Calls
  %table#activities
    %thead
      %tr
        %th Campaign
        %th Caller
        %th Status
        %th Recording
        %th Review
        %th Time
    %tbody
      - for call in @activities_calls
        = render :partial => "call", :locals => {:call => call}
  .right= will_paginate(@activities_submissions)
  %h2 Form Submissions
  %table
    %thead
      %tr
        %th Campaign
        %th Caller
        %th Status
        %th Recording
        %th Review
        %th Time
    %tbody
      -# if activity.is_submission?
        =# render :partial => "shared/activity_submission", :locals => { :activity => activity.activity_type }