- if params[:q] == 'real'
  :javascript
    jQuery.ajaxSetup({
      'beforeSend': function(xhr) {xhr.setRequestHeader("Accept", "text/javascript")}
    })

    $(function() {
      setTimeout(updateActivity, 30000);
    });

    function updateActivity() {
      var after = $("#activities tbody tr").attr("data-time");
      $.getScript("/activities.js?after=" + after)
      setTimeout(updateActivity, 30000);
    }

:javascript
  $(document).ready(function() {
    $(".edit_activity").change(function() {
      this.submit();
      });
    
    jQuery(document).ready(function($) {
      $('a[rel*=facebox]').facebox()
      })
  });
  

%header
  .right.pagination= will_paginate(@activities)
  %h3 Activity
%article
  %table#activities.small
    %thead
      %tr
        %th Type
        %th Campaign
        %th From
        %th Content
        %th Review
        %th Time
        -#%th Customer Lobby
    %tbody
      - for activity in @activities
        = render activity, :locals => {:activity => activity}
  .pagination= will_paginate(@activities)