- if params[:q] == 'real'
  :javascript
    jQuery.ajaxSetup({
      'beforeSend': function(xhr) {xhr.setRequestHeader("Accept", "text/javascript")}
    })

    $(function() {
      setTimeout(updateActivity, 7000);
    });

    function updateActivity() {
      var after = $("#activities tbody tr").attr("data-time");
      $.getScript("/activities.js?after=" + after)
      setTimeout(updateActivity, 7000);
    }

%header
  .right= will_paginate(@activities)
  %h3 Activity
%article
  %table#activities.small
    %thead
      %tr
        %th Type
        %th Campaign
        %th From
        %th Content
        %th Review
        %th Time
    %tbody
      - for activity in @activities
        = render activity, :locals => {:activity => activity}