= javascript_include_tag 'jquery.mapkey.js'

- if params[:q] == 'real'
  :javascript
    jQuery.ajaxSetup({
      'beforeSend': function(xhr) {xhr.setRequestHeader("Accept", "text/javascript")}
    })

    $(function() {
      setTimeout(updateActivity, 30000);
    });

    function updateActivity() {
      var after = $("#activities tbody tr").attr("data-time");
      $.getScript("/activities.js?after=" + after)
      setTimeout(updateActivity, 30000);
    }

:javascript
  var current = 0;
  var current_id = 0;

  $(document).ready(function(){
    $.mapKey("down", nextItem, {direction: "down"});
    $.mapKey("up", previousItem, {direction: "down"});

    $(".edit_activity").change(function() {
      this.submit();
    });
    $("#activities tr").click(function(event){
      setItem($(this).context.rowIndex);
    });
  });

  function setItem(item) {
    if(current == item) {
      return;
    }
    if(item < 1){
      current = 1;
      return;
    } else {
      current = item;
    }
    updateItems();
  }

  function nextItem() {
    var end = $("#activities tr").length - 1;
    if(current < end) {
      current++;
    } else {
      current = end;
      return;
    }

    updateItems();
  }

  function previousItem() {
    if(current > 1) {
      current--;
    } else {
      current = 1;
      return;
    }

    updateItems();
  }

  function updateItems() {
    // Find the rows with active and remove it
    $("#activities tr.active").removeClass("active");
    // add active to the row selected
    $("#activities tr:eq(" + current + ")").addClass("active");
    // grab the row selected
    current_id = $("#activities tr:eq("+current+")").attr('id');
    // parse the ID
    current_id = current_id.match(/\d+/);
    // load the sidebar content
    $("#sidebar").load('http://#{APP_CONFIG[:host]}/activities/'+current_id, function(){
      $("#sidebar").animate({
        marginTop: $("#activities tr:eq("+current+")").offset().top
      }, 250);
      $('html, body').animate({scrollTop: $("#activities tr:eq("+current+")").offset().top}, 500);
    });
  }

%header
  %h1 Leads
%article.span-12.colborder
  -#%p.strong
    -#Filter by
    -#= link_to "Calls", "#"
    -#= link_to "Forms", "#"
    -#= link_to "Most Recent", "#"
  -#%hr
  %p.quiet Click on a lead to view more information
  %table#activities.small
    %thead
      %tr
        %th Type
        %th Campaign
        %th From
        %th Time
    %tbody
      - for activity in @activities
        = render activity, :locals => {:activity => activity}
.span-5.last
  %header
    %h2 Details
  %div#sidebar
    .notice
      %h4.strong Click a lead to see more.
      %p.quiet Try using the up and down arrows on your keyboard
.span-17
  %hr.space
  .pagination= will_paginate(@activities)
  %hr.space