- if @activity.is_call? && @activity.activity_type.recorded? && @activity.activity_type.recording?
  :javascript
    $(document).ready(function(){
      $("#player").flash({
        src: 'http://#{APP_CONFIG[:host]}/player.swf',
        width: '150px',
        height: '22px',
        flashvars: { file: '#{@activity.activity_type.recording.expiring_url}'}
      });
    });

:javascript
  $(document).ready(function(){
    function flash_message(str, class) {
      $('#activity_message').hide();
      $('#activity_message').empty();
      $('#activity_message').html(str);
      $('#activity_message').addClass(class);
      $('#activity_message').show('blind', 400, function() {
        $('#activity_message').delay(1000).hide('blind', 400);
      });
    }
    function save_form() {
      // grab drop down information
      var review_status = $('#activity_review_status').val();
      // Grab the url from the form
      var form_url = $('form[id*="activity"]').first().attr('action');
      $.ajax({
        type: 'POST',
        url: form_url,
        data: $('form[id*="activity"]').serialize(),
        success: function() {
          flash_message('Saved!', 'flash_notice');
        },
        error: function() {
          flash_message('Error!', 'flash_error');
        }
      });
    }
    $("#activity_review_status").change(function() {
      save_form();
    });
    $("#save_form").click(function(){
      save_form();
    })

  });

%div.column2
  - if @activity.is_call?
    -if @activity.activity_type.recorded? && @activity.activity_type.recording?
      %center
        %div#player
  %div{:id => 'activity_message'}
%div.column2last
  -if @activity.is_call?
    %p
      %span{:class => @activity.activity_type.call_status.downcase} Duration:
      =(@activity.activity_type.call_end - @activity.activity_type.call_start).to_int
      seconds
  - form_for @activity do |f|
    %label Status:
    %br
    = f.select(:review_status, (@activity.activity_type.review_status_options))
    %br
    %label Notes:
    %br
    %textarea{ :name => "activity[description]", :id => "description", :class => 'short_textarea' }
      =@activity.description
  %center
    %span.green-btn
      %a{:id => "save_form", :class => "button"} Save
