-if @activity.activity_type.recorded? && @activity.activity_type.recording?
  :javascript
    $(document).ready(function(){
      $("#player").flash({
        src: './player.swf',
        width: '200px',
        height: '22px'
      },
      {update: false},
      function(htmlOptions){
        $this = $(this);
        var url = '#{@activity.activity_type.recording.expiring_url(14400)}';
        url = url.split('&').join('%26');
        htmlOptions.flashvars.file = $this.attr('href');
        $this.before($.fn.flash.transform(htmlOptions));
      });
    });

%h3.strong=@activity.activity_type.phone_number.campaign.account.name
%h4.quiet=@activity.activity_type.phone_number.campaign.name
.notice
  %h4.strong Review
  %p
    %span.strong=@activity.activity_type.caller_name
    %br
    =number_to_phone(@activity.activity_type.caller_number)
    %br
    -if @activity.activity_type.recorded? && @activity.activity_type.recording?
      %div#player
  %p
    -activity_time_zone = @activity.activity_type.phone_number.campaign.account.time_zone
    =time_ago_in_words(@activity.activity_type.call_start) + " ago"
    %br
    %span{:class => @activity.activity_type.call_status.downcase}
    =(@activity.activity_type.call_end - @activity.activity_type.call_start).to_int
    seconds
  - form_for @activity do |f|
    = f.select(:review_status, (@activity.activity_type.review_status_options))
