%header#admin
  %ul 
    %li 
      %strong ADMIN
    %li= link_to "Activity", activities_url
    %li= link_to "Job Statuses", job_statuses_url
    %li= link_to "Users", users_url
    %li= link_to "Search", searches_url