:javascript
  $(document).ready(function () {
    $("div#[id*='flash'] div#msg").click(function(){
      $(this).hide('blind', 800);
    });
  });
- flash.each do |name, msg|
  %div.error_box{:id => "flash_#{name}"}
    %span{ :class => "#{name}-box" }= msg