:javascript
  $(document).ready(function () {
    $("div#[id*='flash']").show('blind', 800);
    $("div#[id*='flash']").click(function(){
      $("div#[id*='flash']").hide('blind', 800);
    })
  });
- flash.each do |name, msg|
  %div.error_box{:id => "flash_#{name}"}
    %span{ :class => "#{name}-box" }= msg