#footer
  .container
    .wrapper
      %h2 Having trouble? Let us know so we can fix it. <3 Grid Team
    #copyright
      %p 
        &copy; 2011 
        = link_to "CityVoice.", "http://cityvoice.com" 
        All Rights Reserved.
      #back-top
        %p=mail_to "alex.baldwin@cityvoice.com", "Help", :subject => "Grid Feedback/Support"
- if RAILS_ENV == "production"
  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-911770-11']);
    _gaq.push(['_setDomainName', '.dashboard.io']);
    _gaq.push(['_trackPageview']);
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();