!!! 5
/[if lt IE 7] <html lang="en" class="no-js ie6">
/[if IE 7 ]    <html lang="en" class="no-js ie7">
/[if IE 8 ]    <html lang="en" class="no-js ie8">
/[if IE 9 ]    <html lang="en" class="no-js ie9">
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
%head
  %title= @browser_title || 'Powered by Grid'

  %meta{'http-equiv' => "content-type", :content => "text/html;charset=UTF-8"}
  %meta{:charset => "utf-8"}/
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  %meta{:name => "viewport", :content => "width=device-width; initial-scale=1.0; maximum-scale=1.0;"}
  %link{:rel => "shortcut icon", :href => "/favicon.ico" }

  /[if IE]
    = stylesheet_link_tag 'ie'
  = stylesheet_link_tag '//ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/smoothness/jquery-ui.css', 'facebox', 'style', 'superfish'
  = javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js', 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js', 'modernizr', 'audiojs/audio.js', 'facebox', 'highcharts', "jquery.tipTip.minified", 'application', 'jquery.flash', 'jquery.validate.min', 'jquery.scrollTo.min', 'superfish-1.4.8/js/hoverIntent.js', 'superfish-1.4.8/js/superfish.js', 'http://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js', 'all-in-one', 'http://omnipotent.net/jquery.sparkline/1.6/jquery.sparkline.min.js'
  :javascript
    WebFont.load({
      google: {
          families: [ 'Droid Serif:regular,italic', 'Droid Sans:regular,bold', 'Arvo:regular,bold' ]
      }
    });