!!! XML
!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  = render :partial => "layouts/head"
  %body
    = render :partial => "layouts/header"
    .wrapper
      .inner
        #header
          =render :partial => "shared/menu"
          .clear
        .content
          =render :partial => "shared/flash", :locals => { :flash => flash }
          =render :partial => "shared/adminnav"
          = yield

        .push
      .footer
        = render :partial => "layouts/footer"
        /-if RAILS_ENV == "production"
        /  =render :partial => "shared/footerincludes"