=render :partial => "layouts/header"
%body
  #main
    .container
      #header
        #logo
          = link_to image_tag('logo.png'), dashboard_path
          %h1 Grid
          %small Cityvoice
        =render :partial => "layouts/nav"
  #crumbs
    .container
      %span.crumb-links
        = yield :crumb
  #content
    .container
      =render :partial => "layouts/flash", :locals => { :flash => flash }
      = yield
  =render :partial => "layouts/footer"