=render :partial => "layouts/header"
%body
  #index-main
    .container
      #header
        #logo
          = link_to image_tag('logo.png'), root_path
          %h1 Grid
          %small Cityvoice
        =render :partial => "layouts/nav"
        #main-message
          %h1 Hello, I'm Grid, CityVoice's customer portal.
          %h3 Track your online and offline marketing with ease, powered by a team of experts.
      #featured
        #slideshow
          <iframe src="http://player.vimeo.com/video/21817065?title=0&amp;byline=0&amp;portrait=0" width="940" height="396" frameborder="0"></iframe>
  #content
    .container
      =render :partial => "layouts/flash", :locals => { :flash => flash }
      = yield
  =render :partial => "layouts/footer"