=render :partial => "layouts/header"
%body
  #index-main
    .container
      #header
        #logo
          = link_to image_tag('logo.png'), root_path
          %h1 Grid
          %small Cityvoice
        =render :partial => "layouts/nav"
        #main-message
          %h1 Hello, I'm Grid, CityVoice's customer portal.
          %h3 Track your online and offline marketing with ease, powered by a team of experts.
      #featured
        #slideshow
          = image_tag('featured/img1.jpg')
  #content
    .container
      =render :partial => "layouts/flash", :locals => { :flash => flash }
      = yield
  =render :partial => "layouts/footer"