=render :partial => "layouts/header"
%body
  .container#wrapper.showgrid
    %header#toolbar
      = link_to "CityVoice", dashboard_path, :id => "logo"
      -#= link_to "Register", register_path
      = link_to "Login", login_path, :class => "button", :id => "login"
    %section#content
      #yield
        =render :partial => "layouts/flash", :locals => { :flash => flash }
        = yield
    %footer=render :partial => "layouts/footer"
    