%html{ :lang => "en"}
  %head
    %title= @browser_title || 'CityVoice - Monthly Report'

    %meta{'http-equiv' => "content-type", :content => "text/html;charset=UTF-8"}
    %link{:rel => "shortcut icon", :href => "images/favicon.png" }

    = stylesheet_link_tag 'sexybuttons.css', 'ui-lightness/jquery-ui-1.8.5.custom', 'ui.daterangepicker', 'ie', 'screen', 'application', 'report', :media => "all"

  %body.container
    %section#content
      = yield
    %footer
      %small
        &copy; Copyright 2010
        =link_to "CityVoice", "http://www.cityvoice.com"
      .right
        #cityvoice_logo= image_tag("cityvoice_logo.png")