%header
  %h2 ACCOUNT NAME
%article
  .span-12
    %h3 Account Information
    %label Name
    %p Plumbing
    %label Budget
    %p $4000
    %label Billing Date
    %p Jan 12
    %label Industry
    %p Plumbing
    %label Type
    %p SEO and SEM
    %label Status
    %br
    %select
      %option Active
      %option Inactive
      %option Paused
    %br
    %label Account Manager
    %br
    %select
      %option Shelton
      %option Shaunay
      %option - None -
  .span-11.last
    %h3 Contact Info
    %label Address
    %p 
      112 DeZevala
      %br
      San Antonio, TX 78249
    %label Phone
    %p (832) 477-8662
  %hr
  %a{:class => "button"} Create User
