%header
  %h1 Create Account
%article
  %h3 Account Information
  %label Company Name
  %br
  %input{:type => "text", :placeholder => "CityVoice", :name => "name", :id => "name", :class => "title"}
  %br
  %label Main Contact
  %br
  %input{:type => "text", :placeholder => "Charlie Sheen", :class => "title"}
  %br
  %label Budget
  %br
  %input{:type => "text", :placeholder => "One Million Dollars", :name => "name", :id => "name", :class => "title"}
  %br
  %label Billing Date
  %br
  %input{:type => "text", :placeholder => "Jan 1, 2011", :id => "datepicker", :class => "title"}
  %br
  %label Industry
  %br
  %select
    %option Plumbing
    %option HVAC
    %option Other
  %br
  %label Type
  %br
  %select
    %option SEO
    %option SEM
    %option Other
  %br
  %label Status
  %br
  %select
    %option Active
    %option Inactive
    %option Paused
  %br
  %label Assign Account Manager
  %br
  %select
    %option Shelton
    %option Shaunay
    %option - None -
  %hr
%footer
  #submit
    = link_to "Cancel", "#", :class => "cancel", :onclick => "$.facebox.close();"
    = link_to "Create Account", "#", :class => "button"
  %hr.space
:javascript 
  	$(function() {
  		$( "#datepicker" ).datepicker();
  	});