%header
  %h2 Create a new Account
%article
  %h3 Account Information
  %label Name
  %br
  %input{:type => "text", :placeholder => "CityVoice", :name => "name", :id => "name", :class => "title"}
  %br
  %label Industry
  %br
  %input{:type => "text", :placeholder => "Marketing", :class => "title"}
  %br
  %label Type
  %br
  %input{:type => "text", :placeholder => "SEO/SEM", :class => "title"}
  %br
  %label Status
  %br
  %input{:type => "text", :placeholder => "Active/Inactive", :class => "title"}
  %hr
  %h3 Contact Info
  %br
  %label Address
  %br
  %input{:type => "text", :placeholder => "112 DeZevala, San Antonio, TX 78249", :class => "title"}
  %br
  %label Phone
  %br
  %input{:type => "text", :placeholder => "(832) 477 8662", :class => "title"}
  %hr
  %h3 Create User
  %br
  %label Email
  %br
  %input{:type => "text", :placeholder => "support@cityvoice.com", :class => "title"}
  %br
  %label Role
  %br
  %input{:type => "text", :placeholder => "Admin", :class => "title"}
  %br
  = link_to "Create Account", "#", :class => "button"
  
  