.span-7.append-1
  .pillbox
    .pill
      %h2 Organic Search
    %table
      %thead
        %tr
          %th Query
          %th Impressions
          %th Clicks
      %tbody
        %tr
          %td test bank
          %td 3,500
          %td 1,000
        %tr
          %td testbank
          %td 600
          %td 110
        %tr
          %td free test bank
          %td 500
          %td 400
        %tr
          %td freetestbank
          %td 170
          %td 150
        %tr
          %td bank test
          %td 170
          %td 12
.span-7.append-1
  .pillbox
    .pill
      %h2 Google Adwords
    %table
      %thead
        %tr
          %th Campaign
          %th Clicks
          %th Cost
      %tbody
        %tr
          %td SML Regional Content
          %td 549
          %td $311.63
        %tr
          %td SML National Search
          %td 300
          %td $93.07
        %tr
          %td SML Promos
          %td 43
          %td $10.47
.span-7.last
  .pillbox
    .pill
      %h2 Facebook Ads
    %table
      %thead
        %tr
          %th Clicks
          %th CTR (%)
          %th Spent
      %tbody
        %tr
          %td My Ads
          %td 0.222%
          %td $1,031.18
        %tr
          %td My Ads 2
          %td 1.493%
          %td $2.68
        %tr
          %td International
          %td 0.081%
          %td $20.00
        %tr
          %td AutoRemind
          %td 0.000%
          %td $0.00
%hr.space
= link_to "+ Add Campaign", new_account_campaign_path(@account.id), :class => "button"
%hr