%h3
  = 'Weekly Performance For ' + (Date.yesterday - 1.week).to_s(:long) + ' to ' + Date.yesterday.to_s(:long)
%table{ :class => "pretty"}
  %thead
    %tr
      %th Name
      %th Account Type
      %th CTR
      %th Total Leads
      %th CPConv
      %th
  %tbody
    - @accounts.each do |account|
      %tr{ :class => cycle('odd', 'even')}
        %td= account.name